<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Sarim Sikander - Personal Portfolio</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">  
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/vendor.css">     

   <!-- script
   ================================================== -->   
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>
	<script src="js/downloads.js"></script>
   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/ico" href="images/favicon_io/favicon.ico">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.ejs"><h2 class="main-header">Portfolio</h2></a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Portfolio</a></li>
						<li><a class="smoothscroll"  href="#services" title="">Services</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>	
						<!-- <li><a href="styles.html" title="">Style Demo</a></li>				 -->
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello, World.</h5>
	   			<h1>I'm Sarim Sikander.</h1>

	   			<p class="intro-position">
	   				<span>Data Scientist</span>
	   				<span>Backend Developer (Nodejs/Django)</span> 
	   			</p>
	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>
	   		</div>  
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
         <li><a href="https://www.facebook.com/cibean.7189/" target="_blank"><i class="fa fa-facebook"></i></a></li>
         <li><a href="https://github.com/Sarim-Sikander" target="_blank"><i class="fa fa-github"></i></a></li>
         <!-- <li><a href="https://twitter.com/Sarim_Sikander2" target="_blank"><i class="fa fa-twitter"></i></a></li> -->
         <li><a href="https://www.linkedin.com/in/sarimsikandercs/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://www.instagram.com/18._th_/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul> <!-- /intro-social -->      	
   </section> <!-- /intro -->

   <!-- about section
   ================================================== -->
   <section id="about">  
   	<div class="row section-intro">
   		<div class="col-twelve">
   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>
   			<div class="intro-info">
   				<img src="images/profile-pic.jpg" alt="Profile Picture">
   				<p class="lead">Hello! I am a fresh Computer Scientist with a proven and academic experience in various paths. I would bring my tenacity and penchant for success to your organization in the capacity of the Software developer or Data Scientist. My Computer Science degree and leadership as well as adapting skills in a volunteer capacity with various projects and teams further bolster my qualifications and aptitude to complete the job requirements. I have some solid programming background and the savvy to implement, understand and troubleshoot developing skills while achieving business goals and growth. I have a Can-Do attitude and knowledge of the field. I did like to discuss also with you the experience and value I will bring to your company as I have done so often in my projects and accomplishments.</p>
   			</div>
   		</div>
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>Welcome to my Profile! I hope you like my profile and my skills that can hopefully inspire you and motivate you to hire me for your company.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Sarim Sikander</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>April 04, 1999</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Freelancer, Machine Learning Engineer</span>
   				</li>
   				<li>
   					<strong>Website:</strong>
   					<span>sarim-sikander.herokuapp.com</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>sarimsikander24@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>These are some of my main skills that i used to represent myself and for my satisfaction. These skills are not beginners, they are professional. </p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Python</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>JavaScript/Nodejs</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>95%</span></div>
				   	<strong>Machine Learning/ Deep Learning</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Amazon Web Services</strong>
				   </li>
				   <li>
					<div class="progress percent80"><span>80%</span></div>
					<strong>Rest Api/ Fast Api/ GraphQL</strong>
					</li>
      
				</ul> <!-- /skill-bars -->	
   		</div>
   	</div>
	   <p class="header-download">You can contact me using Hire me or see more about me in my CV! </p>	

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
   			<a href="/files/Sarim_Sikander_CV_Updated.pdf" download="Sarim_Sikander_CV.pdf" title="Download CV" id="download" class="button button-primary">Download CV</a>
   		</div>   		
   	</div>

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">Below is a list of my Experiences, Hope it enough to show my experience for you to hire me for your company.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Freelancer - Machine Learning</h3>
	   					<p>December 2020 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Fiverr/Upwork</h4>
	   					<p>Prototyped machine learning applications and quickly determined application viability. Created customized applications to make critical predictions, automate reasoning and decisions, and calculate optimization algorithms. Leveraged artificial intelligence and machine learning algorithms for standalone products and enhanced existing product offerings.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Data Scientist</h3>
	   					<p>Augest 2021 - September 2021</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Sui Southern Gas Company</h4>
	   					<p>Designed and automated more than 3 innovative digitization and online marketing report tools and dashboards based on key performance indicators for different management levels, leading to increased transparency and sales performance.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!--<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Web Designer</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Great Designs Studio</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div>  /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelors Degree</h3>
	   					<p>Augest 2018 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Bahria University</h4>
	   					<p>Studying Computer Science with 3.5 CGPA.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Pre-Engineering Program</h3>
	   					<p>July 2016 - July 2018</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Commecs College</h4>
	   					<p>Member of Cricket Sports Team, Awarded Top Attendance and Completed professional development in Engineering with 79% A grade</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!-- <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>May 2013 - June 2014</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Design College</h4>
	   					<p>Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in magna consectetur nisi cupidatat laboris esse eiusmod deserunt aute do quis velit esse sed Ut proident cupidatat nulla esse cillum laborum occaecat nostrud sit dolor incididunt amet est occaecat nisi incididunt.</p>
	   				</div>

	   			</div> /timeline-block -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->


	<!-- Portfolio Section
   ================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Portfolio</h5>
   			<h1>Check Out Some of My Works.</h1>

   			<p class="lead">I have worked on several different projects. Some of them are shown below. Inorder to see more you can visit my <a href="https://github.com/Sarim-Sikander" target="_blank">Github repo</a>.</p>

   		</div>   		
   	</div> <!-- /section-intro--> 

   	<div class="row portfolio-content">

   		<div class="col-twelve">

   			<!-- portfolio-wrapper -->
	         <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

	         	<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/chatApp.png" alt="Liberty">
	                  <a href="#modal-01" class="overlay">	                  	           
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
		     					       <h3 class="folio-title">Realtime Chat Application</h3>	     					    
		     					    	 <span class="folio-types">
		     					       	  Socket.io with Node.js 
		     					       </span>
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>	               
	        		</div> <!-- /folio-item -->

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/taskManager.jpg" alt="Shutterbug">
	               	<a href="#modal-02" class="overlay">              		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Task Manager Api</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Express.js and Mongoose and MongoDB
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/Machine-Learning.jpg"alt="Clouds">
	                  <a href="#modal-03" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Various Machine Learning Applications</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Python/ Data Science/ Databases
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/selenium.png" alt="Beetle">
	                  <a href="#modal-04" class="overlay">                  	                 
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Selenium Automation</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Python-Selenium
		     					      </span>		     		
		     					   </div>  	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->     

	        		<div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/data.png" alt="Lighthouse">
	                  <a href="#modal-05" class="overlay">             		                  
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Data Analysis and Visualization</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Python Tools and Power BI/Tableau
		     					      </span>		     		
		     					   </div> 	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->

	            <div class="bgrid folio-item">
	               <div class="item-wrap">
	               	<img src="images/Pics/django.jpeg" alt="Salad">
	                  <a href="#modal-06" class="overlay">
	                     <div class="folio-item-table">
	                     	<div class="folio-item-cell">
	                     		<h3 class="folio-title">Django Developement</h3>	     					    
		     					    	<span class="folio-types">
		     					       	  Python/ Django framework
		     					      </span>		     		
		     					   </div>	                      	
	                     </div>                    
	                  </a>
	               </div>
	        		</div> <!-- /folio-item -->   

	            <!-- modal popups - begin
	            ============================================================= -->
	            <div id="modal-01" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/chatApp.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Chat Application</h4>		      
					      <p>Was able to build a realtime web chatting application in rooms. This application is build with express js and socket.io. This application has full frontend and Backend in Nodejs</p>

					      <div class="categories">Web Development (Backend Development)</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://sarim-chat-app.herokuapp.com/" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-01 -->

				   <div id="modal-02" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/taskManager.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Task Manager</h4>		      
					      <p>Was able to build a Task Manager backend api. This api is build by myself and supports MongoDB database storage. It is full CRUD application with different capabilities such as Authentication and authorization.</p>

					      <div class="categories">Web Developement (Backend Development)</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/Sarim-Sikander/task-manager-api" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-02 -->

				   <div id="modal-03" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/Machine-Learning.jpg" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Machine Learning Applications</h4>		      
					      <p>There are different Machine learning applications i have built. Following my projects i have used many different models and deployement. I have implemented Deep learning within the applications and worked on so many Databases.</p>

					      <div class="categories">Data Science Applications</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/Sarim-Sikander" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-03 -->

				   <div id="modal-04" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/selenium.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Selenium Automation</h4>		      
					      <p>I was able to use selenium with different Machine learning algorithms. To scrap data from different websites and content from websites to get the information with selenium and then automating the tool to extract the data itself, Selenium was so helpful.</p>

					      <div class="categories">Automation Tools</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/Sarim-Sikander" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-04 -->

				   <div id="modal-05" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/data.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Data Analysis and Visualization</h4>		      
					      <p>Data analysis and visualization was my first step towards data science. I was able to build many analysis and extract data to get useful information. I used tableau and power BI to get more useful insights and build most responsive and flexible dashboards.</p>

					      <div class="categories">Data Science</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/Sarim-Sikander" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-05 -->

				   <div id="modal-06" class="popup-modal slider mfp-hide">	

				     	<div class="media">
				     		<img src="images/Pics/bigdata.png" alt="" />
				     	</div>      	

					   <div class="description-box">
					      <h4>Django Application</h4>		      
					      <p>I was able to built a django application with many different advance skills like using and connecting mongodb and postgress SQL. It was fun and exciting to build this application as well as many other projects with the django framework, It wasnt that challenging as I have been advancing python from 4 years.</p>

					      <div class="categories">Data Science/Spark</div>			               
					   </div>

			         <div class="link-box">
			            <a href="https://github.com/Sarim-Sikander" target="_blank">Details</a>
					      <a href="#" class="popup-modal-dismiss">Close</a>
			         </div>		      

				   </div> <!-- /modal-06 -->


				   <!-- modal popups - end
	            ============================================================= -->

	         </div> <!-- /portfolio-wrapper --> 

   		</div>  <!-- /twelve -->   

   	</div> <!-- /portfolio-content --> 
		
	</section> <!-- /portfolio --> 


	<!-- CTA Section
   ================================================== -->
<!--	<section id="cta" class="grey-section">

   	<div class="row cta-content">

   		<div class="col-twelve section-ads">  

	     		<h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

		      <p class="lead">
		      Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
				Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>. 
				<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->	
				<!-- </p> -->

				<!-- <div class="action">
			      <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
		      </div>		     	 -->

   		<!-- </div> -->

   	<!-- </div> /cta-content -->

   <!-- </section> /cta --> 

	
	<!-- services Section
   ================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Services</h5>
   			<h1>What Can I Do For You?</h1>

   			<p class="lead">There are 6 different main services i can provide for you. The first 3 are the specializations for my area of interest and other 3 depends on the projects and my capability of interest.</p>

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row services-content">

   		<div id="owl-slider" class="owl-carousel services-list">

	      	<div class="service">	

	      		<span class="icon"><i class="icon-earth"></i></span>            

	            <div class="service-content">	

	            	 <h3>Data Science</h3>

		            <p class="desc">My farmost experience is with Data Science. I have been following this field for last couple of years and have been working on different projects. I achieved many certifications in this area and I am ready to serve any organization with my interest and experience.
	         		</p>
	         		
	         	</div> 	         	 

				</div> <!-- /service -->

				<div class="service">	

					<span class="icon"><i class="icon-window"></i></span>                          

	            <div class="service-content">	

	            	<h3>Web Developement (Backend Developer)</h3>  

		            <p class="desc">Recently started this a year ago with a interest in Javascript and then proceeding with its framework Node.js. This has been a wonderful journey with it and hoping to learn more. I have developed more than 6 applications with Node js and its library Express js. Connected them with many other databases and published then of heroku with Git.
	         		</p>

	            </div>	                          

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>		            

	            <div class="service-content">

	            	<h3>Machine Learning and Big Data</h3>

		            <p class="desc">Machine Learning has been favorite. I build these applications with Python language and deploy them also. As a freelancer, I build different applications everyday with different complexity levels and almost completed everything a Machine learning engineer needs. hoping to learn more in future.
	        			</p> 

	            </div> 	            	               

			   </div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>	              

	            <div class="service-content">

	            	<h3>Database Management and Connectivity</h3>

		            <p class="desc">Databases have been a main part of all my specializations. In nodejs I am experienced in mongoDB and Mysql. For data science applications i ussually use Sqlite and Sometimes if requirement matches Nosql databases can be preferred. I have got more then 2 years of experience with these databases and queries for SQL. 
	         		</p> 
	         		
	            </div>                

				</div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-image"></i></span>	            

	            <div class="service-content">

	            	<h3>Cyber Security</h3>

		            <p class="desc">Watching the future and my childhood favorite, Hacking. This field has started ruling my days. From last 6 months I have been learning these techniques and Ethical hacking techniques. This have been the most interesting and practically most implemented subject i am learning. I would be learning more and more in the future to get my position as a Security engineer at a very good post. 
	        			</p> 

	            </div>	               

			   </div> <!-- /service -->

			   <div class="service">

			   	<span class="icon"><i class="icon-chat"></i></span>	   	           

	            <div class="service-content">

	            	 <h3>Automation and Deployement</h3>

		            <p class="desc">I have got a vast experience with Github and heroku deployement with some most powerful Automation techniques. I have worked with selenium in python for the automation techniques. In area of Machine learning selenium has been helping me to extract and scrap data from the websites with the help of beautiful soup. I am focused on the areas of AWS and Google Cloud Platform to learn and fast pace my building applications.
	        			</p> 
	        			
	            </div>	               

			   </div> <!-- /service -->

	      </div> <!-- /services-list -->
   		
   	</div> <!-- /services-content -->
		
	</section> <!-- /services -->	


	<!-- stats Section
   ================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							103
						</h3>

						<h5 class="stat-title">
							Projects Completed
						</h5>

					</div> <!-- /stat -->					

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							58
						</h3>

						<h5 class="stat-title">
							Happy Clients
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							62
						</h3>

						<h5 class="stat-title">
							Awards Received
						</h5>

					</div> <!-- /stat -->									

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							27
						</h3>

						<h5 class="stat-title">
							Crazy Ideas
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							Infinity
						</h3>

						<h5 class="stat-title">
							Coffee Cups
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							2000
						</h3>

						<h5 class="stat-title">
							Hours
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->

	
   <!-- contact
   ================================================== -->
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<p class="lead">If any queries regarding me or any questions you can make yourself comfortable emailing me here and if you have any questions regarding hiring you can find a option above. I am 24/7 available. </p>

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" action="/form" id="contactForm" method="POST">
      			<fieldset>

                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform" class="submit">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->
			<!-- <a href="/contact" class="hire-form-live"><button class="btn btn-primary btn-block btn-lg">Live Chat</button></a> -->
			
            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>            
            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-pin"></i>
   			</div>

   			<h5>Where to find me</h5>

   			<p>
            705, Plot D5, Saima Pari Point<br>
            North Nazimabad, Karachi<br>
            74600 PK
            </p>

   		</div>

   		<div class="col-four tab-full collapse">

   			<div class="icon">
   				<i class="icon-mail"></i>
   			</div>

   			<h5>Email Me At</h5>

   			<p>sarimsikander24@gmail.com<br>
			   	02-134182-094@student.bahria.edu.pk			     
			   </p>

   		</div>

   		<div class="col-four tab-full">

   			<div class="icon">
   				<i class="icon-phone"></i>
   			</div>

   			<h5>Call Me At</h5>

   			<p>Mobile: (+92) 335 3192953<br>
			   	Alternative Mobile: (+92) 347 2738225
			   </p>

   		</div>
   		
   	</div> <!-- /contact-info -->
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
			      <li><a href="#"><i class="fa fa-behance"></i></a></li>
			      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright fatum technologies</span> 
		        	<span>Design by <a href="https://www.facebook.com/xexagonsolutions" target="_blank">Fatum technologies</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>